body{
    background-image: url("assets/mountain.jpg");
    background-size: cover;
}
.ty-form{
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top:30px;
    padding-bottom:30px;
    background-color: white;
    font-size: 20px;

}

.ty-form-heading{
    color:#00de3b;
    font-family: 'Noticia Text', serif;
}

#returnP{
    text-decoration: none;
}