body{
    background-image: linear-gradient(to bottom right, red, blue);
    height:1080px;
}

#leftSide{
    float:left;
    overflow: auto;
    background-color: #333;
    height: 100%;
    padding:10px;
}
nav a{
    color: black;
    padding: 10px;
    text-decoration: none;
}
nav a:hover{
    background-color:gray;
    color:white; 
    text-decoration: none;
}

#navBar{
    background-color: white;
    font-size: 20px;
    margin:0px;
    padding:8px;
    padding-left:0px;
}

#avatar{
    border-radius: 50%;
  }